<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="clientId" value="db008a62-4193-47a9-810d-19a9d38f7afd"></add>
    <add key="authority" value="https://login.microsoftonline.com/common/oauth2/v2.0/authorize"></add>
    <add key="token" value="https://login.microsoftonline.com/common/oauth2/v2.0/token"></add>
    <add key="scopesGraph" value="Group.ReadWrite.All,Files.ReadWrite.All,User.Read"></add>
    <add key="scopesRest" value="https://outlook.office.com/user.read.all,https://outlook.office.com/mail.readwrite,https://outlook.office.com/Group.ReadWrite.All"></add>
    <add key="ida:RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />
    <add key="ida:ResourceId" value="https://graph.microsoft.com/" />
     <add key="secret" value="sfsLUOR2?ekugYLT2726@#?" />
     
    <!-- consumer --><!--
    <add key="clientId" value="db008a62-4193-47a9-810d-19a9d38f7afd"></add>
    <add key="authority" value="https://login.live.com/oauth20_authorize.srf"></add>
    <add key="token" value="https://login.live.com/oauth20_token.srf"></add>
    <add key="access" value="Files.ReadWrite.All,Groups.ReadWrite.All,User.Read,wl.offline_access"></add>
    <add key="ida:RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />
    <add key="ida:ResourceId" value="https://graph.microsoft.com/" />-->
   
    
  </appSettings>
</configuration>


<!--
: https://login.live.com/oauth20_authorize.srf?client_id=892b6139-5679-4fe7-92b0-f8b194f81be5&scope=Group.ReadWrite.All&response_type=token&redirect_uri=urn:ietf:wg:oauth:2.0:oob

-->